# Ignore scans
*.mhd
*.raw

# Ignore non-necessary folders
.vscode/*
05_Presentations/*

# Ignore pdf files
*.pdf

# Ignore images
*.jpg
*.png

# Ignore manual segmentations
02_Data/03_ManualSegmentation/*

# Ignore large models
*.joblib
*.hdf5

# Ignore tex files
*.tex

# Ignore directories
06_Problems/
07_Article/
08_ISBM/
09_GCB/